GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="http://localhost:3001"

# Integração e Gateway
VITE_AGILE_APP_URL="http://localhost:3000/login"
VITE_FLOW_GATEWAY_URL="http://localhost:8080/proxy/flow/v1"
VITE_FLOW_GATEWAY_SSE_URL="http://localhost:8080/proxy/flow/v1/events/stream"
